<%= form_with(model: tenant, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group customSelect">
          <%= form.label :organization_type_id, "Type d'oragnisation", class: "required" %>
              <%= form.collection_select(:organization_type_id, @organization_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :organization_name, "Organisation", class: "required" %>
          <%= form.text_field :organization_name, class: "form-control", placeholder: "Nom", required: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :address, "Adresse" %>
      <%= form.text_field :address, class: "form-control", placeholder: "Adresse" %>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :phone, "Téléphone", class: "required" %>
          <%= form.text_field :phone, class: "form-control", placeholder: "Téléphone", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :country, "Pays", class: "required" %>
          <%= form.text_field :country, class: "form-control", placeholder: "Pays", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :city, "Ville", class: "required" %>
          <%= form.text_field :city, class: "form-control", placeholder: "Ville", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :email, class: "required" %>
          <%= form.email_field :email, class: "form-control", placeholder: "Email", required: true %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :website, "Site web" %>
          <%= form.text_field :website, class: "form-control", placeholder: "Site web" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :subdomain, "Sous-domaine" %>
      <%= form.text_field :subdomain, class: "form-control", placeholder: "Sous-domain" %>
    </div>

   </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>

<% end %>
