<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @tenant.domain %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tenant.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @tenant.user %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
