<p id="notice"><%= notice %></p>

<h1>General Settings</h1>

<table>
  <thead>
    <tr>
      <th>Application name</th>
      <th>Login screen message</th>
      <th>Home screen message</th>
      <th>Logo</th>
      <th>Wallpaper</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_settings.each do |general_setting| %>
      <tr>
        <td><%= general_setting.application_name %></td>
        <td><%= general_setting.login_screen_message %></td>
        <td><%= general_setting.home_screen_message %></td>
        <td><%= general_setting.logo %></td>
        <td><%= general_setting.wallpaper %></td>
        <td><%= general_setting.user %></td>
        <td><%= link_to 'Show', general_setting %></td>
        <td><%= link_to 'Edit', edit_general_setting_path(general_setting) %></td>
        <td><%= link_to 'Destroy', general_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General Setting', new_general_setting_path %>
