<p id="notice"><%= notice %></p>

<p>
  <strong>Application name:</strong>
  <%= @general_setting.application_name %>
</p>

<p>
  <strong>Login screen message:</strong>
  <%= @general_setting.login_screen_message %>
</p>

<p>
  <strong>Home screen message:</strong>
  <%= @general_setting.home_screen_message %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @general_setting.logo %>
</p>

<p>
  <strong>Wallpaper:</strong>
  <%= @general_setting.wallpaper %>
</p>

<p>
  <strong>User:</strong>
  <%= @general_setting.user %>
</p>

<%= link_to 'Edit', edit_general_setting_path(@general_setting) %> |
<%= link_to 'Back', general_settings_path %>
