<p id="notice"><%= notice %></p>

<h1>Ticket Types</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><%= ticket_type.uid %></td>
        <td><%= ticket_type.name %></td>
        <td><%= ticket_type.description %></td>
        <td><%= ticket_type.status %></td>
        <td><%= ticket_type.user %></td>
        <td><%= link_to 'Show', ticket_type %></td>
        <td><%= link_to 'Edit', edit_ticket_type_path(ticket_type) %></td>
        <td><%= link_to 'Destroy', ticket_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Type', new_ticket_type_path %>
