<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @ticket_type.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket_type.user %>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
