<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @notification.type %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @notification.recipient %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong>Read at:</strong>
  <%= @notification.read_at %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
