<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :option_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :option_value %>
  </div>

  <div class="field">
    <%= form.label :autoload %>
    <%= form.check_box :autoload, id: :option_autoload %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :option_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :option_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
