<%= form_with(model: attachment, local: true) do |form| %>
  <% if attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :attachment_name %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :attachment_link %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :attachment_status %>
  </div>

  <div class="field">
    <%= form.label :binder_id %>
    <%= form.text_field :binder_id, id: :attachment_binder_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :attachment_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
