<p id="notice"><%= notice %></p>

<h1>Entity Types</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_types.each do |entity_type| %>
      <tr>
        <td><%= entity_type.uid %></td>
        <td><%= entity_type.name %></td>
        <td><%= entity_type.description %></td>
        <td><%= entity_type.status %></td>
        <td><%= entity_type.user %></td>
        <td><%= link_to 'Show', entity_type %></td>
        <td><%= link_to 'Edit', edit_entity_type_path(entity_type) %></td>
        <td><%= link_to 'Destroy', entity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity Type', new_entity_type_path %>
