<%= form_with(model: request, local: true) do |form| %>
 <div class="modal-body">
    <ul class="errors">
    </ul>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :request_type_id, "Type de demande", class: "required" %>
        <%= form.collection_select(:request_type_id, @request_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :request_date, "Date de la demande", class: "required" %>
        <%= form.date_field :request_date, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
     <div class="form-group">
        <%= form.label :identification_number, "N°Matricule", class: "required" %>
        <%= form.text_field :identification_number, class: "form-control", placeholder: "N°Matricule", required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :first_name , "Prénom", class: "required" %>
        <%= form.text_field :first_name, class: "form-control", placeholder: "Prénom", required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :last_name, "Nom", class: "required" %>
        <%= form.text_field :last_name, class: "form-control", placeholder: "Nom", required: true %>
      </div>
    </div>

   
  </div>

  <div class="row">
     <div class="col-md-4">
      <div class="form-group">
        <%= form.label :gender, "Genre", class: "required" %>
        <%= form.select :gender , GENDERS, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%",  required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :born_date, "Date de naissance", class: "required" %>
        <%= form.date_field :born_date, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-md-4">

      <div class="form-group">
        <%= form.label :born_place, "Lieu de naissance", class: "required" %>
        <%= form.text_field :born_place, class: "form-control", placeholder: "Lieu de naissance", required: true %>
      </div>
    </div>

    
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :academic_year , "Année académique", class: "required"%>
        <%= form.text_field :academic_year, class: "form-control", placeholder: "Année académique", required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :grade, "Classe", class: "required" %>
        <%= form.text_field :grade, class: "form-control", placeholder: "Classe", required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :specialty , "Spécialité", class: "required"%>
        <%= form.text_field :specialty, class: "form-control", placeholder: "Spécialité", required: true %>
      </div>
    </div>
   
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>
  </div>

 

 </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
