 <% requests.each do |request| %>
    <%= link_to edit_request_path(request) do  %>
      <tr>
        <td><%= request_type(request.request_type_id).name %></td>
        <td><%= request.first_name %></td>
        <td><%= request.last_name %></td>
    
        <td><%= request.academic_year %></td>
        <td><%= request.grade %></td>
    
        <td><%= request.request_date.strftime("%d/%m/%Y") %></td>
        <td><%= request.status %></td>
        <td>
      
          <div class="action-buttons">
          <%= link_to raw('<i class="fa fa-user-plus" aria-hidden="true"></i>'), imputations_path(uid: request.uid, rtype: "Request"), title: "Imputations" %>
          <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
    '),  edit_request_path(request), title: "Modifier", remote: true %>

<%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>
'),  show_request_path(request.uid), title: "Voir", remote: false %>


      <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
      '), request_delete_path(request), remote: true, title: "Supprimer", class: "delete" %>
      </div>
      </td>
      </tr>
  <% end  %>
    
<% end %>