<tr class="nested-fields">
    <td>
        <%= f.collection_select(:task_type_id, @task_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 
    </td>
    
    <td>
    <%= f.text_area :description, class: "form-control", placeholder: "Description", required: true %> 

    </td>
     
    <td>
        <%= f.date_field :due_date, class: "form-control", required: true %>
    </td>

    <td>
        <%= f.collection_select(:task_priority_id, @task_priorities, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 
    </td>
    <td>
    
    <%= f.collection_select(:task_status_id, @task_statuses, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 

    </td>
    <td>
      
    <%= link_to_remove_association raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), f, class: 'delete' %>
  
    </td>



</tr>