
  <div class="container page-wrapper mg-t-80">
 
    <div class="row">
      <div class="col-md-9">
        <!-- -->
        <div class="card shadow-base bd-0">
          <div class="card-header bg-transparent pd-20">
            <h6 class="card-title tx-uppercase tx-12 mg-b-0">Imputation</h6>
          </div><!-- card-header -->
          <div class="card-body">
           
              <ul class="list-1-col list-unstyled">
              <li class="detail-address">
                  <i class="fa fa-key" aria-hidden="true"></i>
									<strong><%= imputable_type(@imputation) %></strong> 
									
								</li>
								<li class="detail-address">
                  <i class="fa fa-building-o" aria-hidden="true"></i>

									<strong>Service: </strong> 
									<span><%= service(@imputation.service_id).name %></span>
								</li>
								<li class="detail-city">
                  <i class="fa fa-user" aria-hidden="true"></i>

									<strong>Imputé à: </strong> 
									<span><%= user(@imputation.recipient_id).profile.full_name %></span>
								</li>
								<li class="detail-state">
                <i class="fa fa-user-secret" aria-hidden="true"></i>

									<strong>Imputé par: </strong> 
									<span><%= user(@imputation.user_id).profile.full_name if user(@imputation.user_id).profile.present? %></span>
								</li>
							
										
							</ul>
             
           
            </div>
           
          
        </div>
        <!-- -->

        <!-- -->
        <div class="card shadow-base  bd-0 mg-t-15 mg-b-30">
              <div class="card-header bg-transparent pd-20">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Tâches</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                
                    <th class="pd-y-5">Date</th>
                    <th class="pd-y-5">Titre</th>
                    <th class="pd-y-5">Date d'échéance</th>
                     <th class="pd-y-5">Date début</th>
                    <th class="pd-y-5">Date fin</th>
                    <th class="pd-y-5">Priorité</th>
                    <th class="pd-y-5">Progression</th>
                    <th class="pd-y-5"></th>

                  </tr>
                </thead>
                <tbody class="imputation-items">

                  <%= render "imputations/partials/index", locals: @imputation %>
                  
                </tbody>
              </table>
              <!--
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Transaction History</a>
              </div> --><!-- card-footer -->
            </div>
        <!-- -->

        <div class="col-md-3">
        </div>
    </div>

  </div>


<div id="imputation-item-modal" class="c-modal modal fade" data-backdrop="static"></div>