<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-8">
      
          <div class="row">
            <div class="form-group col-md-12">
              <%= form.label :name, "Nom", class: "required" %>
              <%= form.text_field :name, class: "form-control", placeholder: "Nom", required: true %>
            </div>

            <div class="form-group col-md-12">
              <%= form.label :description, "Description", class: "required" %>
              <%= form.rich_text_area :description, class: "form-control", required: true %>
            </div>


             


          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card mt-15">
              <div class="card-header">
                <h6>Fichiers</h6>
              </div>
              <div class="card-body">
                <div class="form-group ">
                  <%= form.label :files, "Pièces-jointes", class:  "#{ 'required' unless @document.files.attached? }" %>
                  <%= form.file_field :files, class: "form-control", multiple: true, required: (true unless @document.files.attached?) %> 
                </div>

                <div class="form-group">
                  <ul class="list-group">
                    <% if @document.files.attached? %>
                      <% @document.files.attachments.each do |file| %>
                        <li class="list-group-item rounded-top-0">
                          <p class="mg-b-0">
                            <i class="fa fa-file-text-o tx-info mg-r-8"></i>
                            <strong class="tx-inverse tx-medium">
                              <%= link_to file.blob.filename, rails_blob_path(file.blob, disposition: 'attachment') %>
                            </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                              
                                <%= link_to raw('&times;'), delete_attachment_path(id: file.id), method: :delete, data: { confirm:'Êtes-vous sûr de vouloir supprimer ce fichier?' }, :remote => true, :class => 'delete_attachment', title: "Supprimer" %>
                            </span>
                            </button> 
                          </p>
                        </li>
                      <% end %>
                    <% end %>
                    <!-- add more here -->
                  </ul>
                </div>
                
              </div>
            </div>
            </div>
          </div>
       

       
      </div>

      <div class="col-md-4">

        <div class="card mb-5">
          <div class="card-header">
            <h6>Classement</h6>
          </div>
          <div class="card-body">
            <div class="form-group ">
                <%= form.label :support_id, "Support", class: "required" %>
                <%= form.collection_select(:support_id, @supports, :id, :name, {prompt: "Sélectionner"}, :id => "support_id", class: "form-control", style: "width: 100%", required: true) %> 
              </div>

            <div class="form-group ">
              <%= form.label :nature_id, "Nature", class: "required" %>
              <%= form.collection_select(:nature_id, @natures, :id, :name, {prompt: "Sélectionner"}, :id => "nature_id", class: "form-control", style: "width: 100%", required: true) %> 
            </div>

            <div class="form-group ">
              <!-- form.label :folder_id, "Classeur", class: "required" -->
              <!-- form.collection_select(:folder_id, @folders, :id, :name, {prompt: "Sélectionner"}, :id => "folder_id", class: "form-control", style: "width: 100%", required: true) --> 
              <%= form.hidden_field :folder_id , :id => "folder-id" %>


            </div>
          </div>
        </div>

        <div class="card mb-2">
          <div class="card-header">
            Dossier
          </div>
          <div class="card-body">
            <p class="card-text">
              <div id="jstree">

                <ul class="filtertree">
                  <%= display_segment(@root_node).html_safe %>
                </ul>

              </div>
            </p>
            
          </div>
        </div>

        <div class="card mt-15 mb-2">
          <div class="card-header">
            <h6>Indexation</h6>
          </div>
          <div class="card-body">
            <div class="form-group customSelect">
              <%= form.label :tag_list, "Etiquettes" %>
              <%= form.collection_select(:tag_list, ActsAsTaggableOn::Tag.all, :name, :name, { value: @selected_tags}, :id => "tag-list", class: "form-control", style: "width: 100%", multiple: true) %> 
             </div>
          </div>
        </div>

      </div>
    </div>
     

  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <%= form.submit class: "btn btn-primary tx-uppercase" %>
        </div>
      </div>
    </div>
<% end %>
