<%= form_with(model: arrival_mail, local: true) do |form| %>
  
  <% if arrival_mail.errors.any? %>
    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>

      <ul>
      <% arrival_mail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

    <!-- Courrier infos fieldset -->
    <fieldset>
      <legend>Courrier</legend>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group customSelect">
            <%= form.label :register, "Registre", class: "required" %>
            <%= form.collection_select(:register_id, @registers, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= form.label :internal_reference, "Réf. interne", class: "required" %>
            <%= form.text_field :internal_reference,  class: "form-control", value: (arrival_mail.internal_reference.present? ? arrival_mail.internal_reference : @internal_reference ), placeholder: "Réf. interne", readonly: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= form.label :external_reference, "Réf. externe" %>
            <%= form.text_field :external_reference,  class: "form-control" , placeholder: "Réf. externe" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group customSelect">
           <%= form.label :mail_type_id, "Type", class: "required" %>
           
            <%= form.collection_select(:mail_type_id, @mail_types, :id, :name, {prompt: "Sélectionner"}, :id => "mail_type_id", class: "form-control ", required: true) %> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
           <%= form.label :nature_id, "Nature", class: "required" %>
           
            <%= form.collection_select(:nature_id, @natures, :id, :name, {prompt: "Sélectionner"}, :id => "nature_id", class: "form-control ", required: true) %> 
                
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group customSelect">
            <%= form.label :mail_category_id, "Catégorie", class: "required" %>
          
              <%= form.collection_select(:mail_category_id, @mail_categories, :id, :name, {prompt: "Sélectionner"}, :id => "mail_category_id", class: "form-control",  required: true) %> 
              
            
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group customSelect">
            <%= form.label :support_id, "Support", class: "required" %>
          
              <%= form.collection_select(:support_id, @supports, :id, :name, {prompt: "Sélectionner"}, :id => "support_id", class: "form-control customSelect",  required: true) %> 
              
            
          </div>

          
        </div>

        <div class="col-md-3">
          <div class="form-group customSelect">
            <%= form.label :mail_priority_id, "Priorité", class: "required" %>
          
              <%= form.collection_select(:mail_priority_id, @mail_priorities, :id, :name, {prompt: "Sélectionner"}, :id => "mail_priority_id", class: "form-control",  required: true) %> 
              
            
          </div>

          
        </div>

        <div class="col-md-3">
            <div class="form-group customSelect">
            <%= form.label :linked_to_mail, "Réponse à un courrier départ" %>
            <%= form.select :linked_to_mail, [["Oui"], ["Non"]], {prompt: "Sélectionner"},  class: "form-control",  required: true %>
          </div>
        </div>

        <div class="col-md-3">
            <div class="form-group arrival_mail_linked_mail">
            <%= form.label :reference_linked_mail, "Réf. courrier départ" %>
            <%= form.text_field :reference_linked_mail,   class: "form-control", placeholder: "Réf. courrier départ" %>
          </div>
        </div>

      </div>

      
    </fieldset>

    <!-- Horodatage fieldset -->
    <fieldset>
      <legend>Horodatage</legend>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= form.label :receipt_date, "Date réception", class: "required" %>
            <%= form.date_field :receipt_date,  value: Date.today, class: "form-control" %>
          </div>
 
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= form.label :departure_date , "Date du courrier" , class: "required"%>
            <%= form.date_field :departure_date, id: :arrival_mail_departure_date, class: "form-control" %>
          </div>
        </div>

        

        <div class="col-md-4">
          <div class="form-group customSelect">
            <%= form.label :to_answer, "A répondre", class: "required" %>
            <%= form.select :to_answer, [["Oui"], ["Non"]], {prompt: "Sélectionner"},  class: "form-control", required: true %>
          </div>
        </div>

      </div>

      <div class="row">

        

        <div class="col-md-4">
          <div class="form-group arrival_mail_response_limit_time">
            <%= form.label :response_limit_time, "Répondre avant le" %>
            <%= form.date_field :response_limit_time, id: :arrival_mail_response_limit_time, class: "form-control" %>
          </div>

        </div>

        <div class="col-md-4">
         <div class="form-group arrival_mail_response_date">
            <%= form.label :response_date, "Répondu le" %>
            <%= form.date_field :response_date, id: :arrival_mail_response_date, class: "form-control" %>
          </div>
        </div>


      </div>

    </fieldset>


    <!-- Fieldset -->
    <fieldset>
      <legend>Expéditeur</legend>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group customSelect">
              <%= form.label :correspondent_id, "Expéditeur", class: "required" %>
              
              <%= form.collection_select(:correspondent_id, @correspondents, :id, :correspondent_name, {prompt: "Sélectionner"}, :id => "correspondent_id", class: "form-control", style: "width: 100%", required: true) %> 
               
            </div>
          </div>
        </div>
    </fieldset>

    <!-- Fieldset -->
    <fieldset>
      <legend>Détails</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :object, "Objet" , class: "required"%>
            <%= form.text_field :object, class: "form-control", placeholder: "Objet" , required: true %>
          </div>

        </div>
      </div>
    </fieldset>

     <!-- Fieldset -->
    <fieldset>
      <legend>Traitement</legend>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group customSelect">
              <%= form.label :processing_entity_id, "Service traitant", class: "required" %>
              
              <%= form.collection_select(:processing_entity_id, @entities, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
               
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group customSelect">
              <%= form.label :processing_recipient_id, "Personne traitante", class: "required" %>
              
              <%= form.collection_select(:processing_recipient_id, @recipients, :user_id, :full_name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
               
            </div>
          </div>

          <div class="col-md-3">
           <div class="form-group">
              <%= form.label :processing_deadline, "Date limite de traitement ", class: "required" %>
              <%= form.date_field :processing_deadline, class: "form-control", required: true %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group customSelect">
              <%= form.label :mail_status_id, "Statut", class: "required" %>
              
              <%= form.collection_select(:mail_status_id, @mail_statuses, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
               
            </div>
          </div>


        </div>
    </fieldset>


     <!-- Fieldset -->
    <fieldset>
      <legend>Classement</legend>
      <div class="row">
        <div class="col-md-12 ">
          <div class="form-group">
            <%= form.label :folder_id , "Classeur", class: "required" %>
           
              <%= form.collection_select(:folder_id, @folders, :id,:name, {prompt: "Sélectionner"}, :id => "folder_id", class: "form-control", required: true) %> 
               
          </div>

          <div class="form-group">
            <%= form.label :files, "Pièces-jointes", class:  "#{ 'required' unless @arrival_mail.files.attached? }" %>
            <%= form.file_field :files,  class: "form-control", placeholder: "Pièces-jointes", multiple: true, direct_upload: true, required: (true unless @arrival_mail.files.attached?) %>
          </div>

          <div class="form-group">
            <ul class="list-group">
              <% if @arrival_mail.files.attached? %>
                <% @arrival_mail.files.attachments.each do |file| %>
                  <li class="list-group-item rounded-top-0">
                    <p class="mg-b-0">
                      <i class="fa fa-file-text-o tx-info mg-r-8"></i>
                      <strong class="tx-inverse tx-medium">
                        <%= link_to file.blob.filename, rails_blob_path(file.blob, disposition: 'attachment') %>
                      </strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                        
                          <%= link_to raw('&times;'), delete_attachment_path(id: file.id), method: :delete, data: { confirm:'Êtes-vous sûr de vouloir supprimer ce fichier?' }, :remote => true, :class => 'delete_attachment', title: "Supprimer" %>
                      </span>
                      </button> 
                    </p>
                  </li>
                <% end %>
              <% end %>
              <!-- add more here -->
            </ul>
          </div>

        </div>
      </div>
    </fieldset>
  
  




  <div class="form-group pull-right">
    <%= form.submit class: "btn btn-primary " %>
  </div>
<% end %>
