<% arrival_mails.each do |arrival_mail| %>
    <tr>
   <td><%= arrival_mail.created_at.strftime("%d/%m/%Y") %></td>
     <td><%= arrival_mail.internal_reference %></td>
    <td><%= arrival_mail.departure_date.strftime("%d/%m/%Y") %></td>
    <td><%= arrival_mail.receipt_date.strftime("%d/%m/%Y") %></td>
    <td><%= correspondent(arrival_mail.correspondent_id).organization_name %></td>
    <td>

	    <span class="action-buttons">
            <%= link_to raw('<i class="fa fa-user-plus" aria-hidden="true"></i>'), imputations_path(uid: arrival_mail.uid, rtype: "ArrivalMail") %>
		    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_arrival_mail_path(arrival_mail), title: "Modifier", remote: false %>

<%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>
'),  show_arrival_mail_path(arrival_mail.uid), title: "Voir", remote: false %>





<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), arrival_mail_delete_path(arrival_mail), remote: true, title: "Supprimer", class: "delete" %>


</span>
</td>

    </tr>
<% end %>