<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @task_priority.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task_priority.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @task_priority.color %>
</p>

<p>
  <strong>Processing time in days:</strong>
  <%= @task_priority.processing_time_in_days %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_priority.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_priority.user %>
</p>

<%= link_to 'Edit', edit_task_priority_path(@task_priority) %> |
<%= link_to 'Back', task_priorities_path %>
