<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->

       

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-envelope-o tx-20"></i>
            <span class="menu-item-label">Courriers</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Courriers Arrivée", arrival_mails_path, class: "sub-link #{current? "active", arrival_mails_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Courrier Départ", departure_mails_path, class: "sub-link #{current? "active", departure_mails_path}" %>
            </li>

      


          </ul>
        </li>

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-refresh tx-20" aria-hidden="true"></i> <span class="menu-item-label">Demandes</span>'), requests_path, class: "br-menu-link #{current? "active", requests_path}" %>
        </li> 

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-ticket tx-20" aria-hidden="true"></i> <span class="menu-item-label">Tickets</span>'), tickets_path, class: "br-menu-link #{current? "active", tickets_path}" %>
        </li> 

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-archive tx-20" aria-hidden="true"></i> <span class="menu-item-label">Archivages</span>'), documents_path, class: "br-menu-link #{current? "active", documents_path}" %>
        </li> 

      

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-building-o tx-20"></i>
            <span class="menu-item-label">Administration</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            <li class="sub-item">
               
              <% if current_organization.present? %>
                <%= link_to "Mon organisation", show_organization_path(current_organization.uid) , class: "sub-link #{current? "active", show_organization_path(current_organization.uid)}" %>
              <% end %>
							
            </li>

            <li class="sub-item">
                <%= link_to  "Directions", directions_path, class: "sub-link #{current? "active", directions_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Divisions", divisions_path, class: "sub-link #{current? "active", divisions_path}" %>
            </li>

             <li class="sub-item">
                <%= link_to  "Services", services_path, class: "sub-link #{current? "active", services_path}" %>
            </li>

 

          </ul>
        </li>


      <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-users tx-20"></i>
            <span class="menu-item-label">Correspondants</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            

           <li class="sub-item">
                <%= link_to  "Type de correspondants", correspondent_types_path, class: "sub-link #{current? "active", correspondent_types_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Correspondants", correspondents_path, class: "sub-link #{current? "active", correspondents_path}" %>
            </li>
          
            
 

          </ul>
        </li>

        
        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cogs tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link #{current? "active", all_users_path}" %>
            </li>

            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

           
            <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Registres", registers_path, class: "sub-link #{current? "active", registers_path}" %>
            </li>


            <li class="sub-item">
                <%= link_to  "Dossiers", folders_path, class: "sub-link #{current? "active", folders_path}" %>
            </li>
            

            <li class="sub-item">
                <%= link_to  "Type de demandes", request_types_path, class: "sub-link #{current? "active", request_types_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Supports", supports_path, class: "sub-link #{current? "active", supports_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Natures", natures_path, class: "sub-link #{current? "active", natures_path}" %>
            </li>

             
    
           

          </ul>
        </li>

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-sliders tx-20"></i>
            <span class="menu-item-label">Configurations</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
         
            <li class="sub-item">
                <%= link_to  "SMTP", smtp_configs_path, class: "sub-link #{current? "active", smtp_configs_path}" %>
            </li>

          
            </ul>
        </li>


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-briefcase tx-20"></i>
            <span class="menu-item-label">Utilitaires</span>
          </a>
          <ul class="br-menu-sub">
            
         
        

            <li class="sub-item">
                <%= link_to  "Backup", show_backup_path,  data: { turbolinks: false }, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Logger", activity_logs_path, class: "sub-link #{current? "active", activity_logs_path}" %>
            </li>


            </ul>
        </li>

           
          
           
          

            

            

             
           

           

          </ul>
        </li>
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->