<%= form_with(model: storage_area, local: true) do |form| %>
 
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :name, "Nom", class: "required" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Nom", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :short_name, "Nom court" %>
        <%= form.text_field :short_name, class: "form-control", placeholder: "Nom court" %>
      </div>

      <div class="form-group">
        <%= form.label :maximum_size, "Taille maximum (Go)" %>
        <%= form.number_field :maximum_size, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :path, "Chémin d'accès", class: "required" %>
        <%= form.file_field :path, class: "form-control", placeholder: "Chémin d'accès", required: true %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-right">
        <%= form.submit class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
      </div>
    </div>
  </div>
<% end %>
