<tr>
<td class="uppercase">Type d'organisation</td>
<td ><%= organization_type(current_organization.organization_type_id).name  %></td>
</tr>
<tr>
<td class="uppercase">Nom</td>
<td ><%= current_organization.name  %></td>
</tr>

<tr>
<td class="uppercase">Adresse</td>
<td><%= current_organization.address  %></td>
</tr>
<tr>
<td class="uppercase">Ville</td>
<td><%= current_organization.city %></td>
</tr>
<tr>
<td class="uppercase">Pays</td>
<td><%= current_organization.country  %></td>
</tr>

<tr>
<td class="uppercase">Téléphone</td>
<td><%= current_organization.phone  %></td>
</tr>
<tr>
<td class="uppercase">Fax</td>
<td><%= current_organization.fax  %></td>
</tr>
<tr>
<td class="uppercase">Code postal</td>
<td><%= current_organization.zip_code  %></td>
</tr>
<tr>
<td class="uppercase">Site web</td>
<td><%= current_organization.web_site  %></td>
</tr>