<%= form_with(model: smtp_server_setting, local: true) do |form| %>
  <ul class="errors">
  </ul>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :delivery_method, "Méthode d'envoie", class: "required" %>
        <%= form.select :delivery_method, DELIVERY_METHOD, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%" %>
      </div>

      <div class="form-group">
        <%= form.label :authentication_method, "Méthode d'authentification", class: "required" %>
        <%= form.select :authentication_method,  AUTHENTICATION_METHOD, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%" %>
      </div>

      <div class="form-group">
        <%= form.label :host, "Hôte", class: "required" %>
        <%= form.text_field :host, class: "form-control", placeholder: "Hôte", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :port, "Port", class: "required" %>
        <%= form.number_field :port, class: "form-control" %>
      </div>

     

      <div class="form-group">
        <%= form.label :user_name, "Nom d'utilisateur", class: "required" %>
        <%= form.text_field :user_name, class: "form-control", placeholder: "Nom d'utilisateur", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :password, "Mot de passe", class: "required" %>
        <%= form.password_field :password, class: "form-control", placeholder: "Mot de passe", required: true  %>
      </div>

      <div class="form-group">
        <%= form.label :sending_address, "Email d'expédition", class: "required" %>
        <%= form.email_field :sending_address, class: "form-control", placeholder: "Email d'expédition", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-right">
        <%= form.submit class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
      </div>
    </div>
  </div>
<% end %>
