<p id="notice"><%= notice %></p>

<p>
  <strong>Storage service name:</strong>
  <%= @storage_service.storage_service_name %>
</p>

<p>
  <strong>Storage service setting:</strong>
  <%= @storage_service.storage_service_setting %>
</p>

<%= link_to 'Edit', edit_storage_service_path(@storage_service) %> |
<%= link_to 'Back', storage_services_path %>
