<!DOCTYPE html>
<html>
  <head>
    <title><%= "Erreur - #{APPLICATION_NAME}" %></title>	
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    



  </head>

  <body>
    <!-- Navbar -->
    
      <div class="page-wrapper">
        <%= yield %>
      </div>

  </body>
</html>
