<%= form_with(model: user_entity_item, local: true) do |form| %>
  <% if user_entity_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_entity_item.errors.count, "error") %> prohibited this user_entity_item from being saved:</h2>

      <ul>
      <% user_entity_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_entity_id %>
    <%= form.text_field :user_entity_id %>
  </div>

  <div class="field">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
