<p id="notice"><%= notice %></p>

<h1>User Entity Items</h1>

<table>
  <thead>
    <tr>
      <th>User entity</th>
      <th>Entity</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_entity_items.each do |user_entity_item| %>
      <tr>
        <td><%= user_entity_item.user_entity %></td>
        <td><%= user_entity_item.entity %></td>
        <td><%= user_entity_item.status %></td>
        <td><%= link_to 'Show', user_entity_item %></td>
        <td><%= link_to 'Edit', edit_user_entity_item_path(user_entity_item) %></td>
        <td><%= link_to 'Destroy', user_entity_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Entity Item', new_user_entity_item_path %>
